[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.5"
psycopg2-binary = "==2.9.3"
pillow = "==9.3.0"
django-split-settings = "==1.2.0"
toml = "==0.10.2"

[dev-packages]

[requires]
python_version = "3.10"
